body {
    padding: 0 !important;
    line-height: normal !important;
}

/* Texts */

.txt {
    font-weight: 400 !important;
}

.first-color-line {
    border: 0;
    height: 7px;
    width: 15%;
    background-color: #a7dbdb;
}

.white-line, .color-line {
    border: 0;
    height: 3px;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px !important;
    margin-bottom: 35px !important;
}

.white-line {
    background-color: #ffffff;
}

.color-line {
    background-color: #a7dbdb;
}

h1, h2, h3 {
    padding-bottom: 5px;
    text-align: center !important;
}

.tool-title {
    margin-top: 0;
    margin-bottom: 7px;
}

#subtitle {
    padding-top: 5px;
}

#face.jumbotron h1 {
    color: #fff !important;
    font-weight: normal;
    font-size: 70px;
    letter-spacing: 10px;
}

#face.jumbotron p {
    color: #fff !important;
}

#welcome.jumbotron p {
    color: #363636 !important;
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 50px !important;
    }
    h2 {
        font-size: 27px !important;
    }
    h3 {
        font-size: 23px !important;
    }
    p {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 40px !important;
    }
    #face.jumbotron h1 {
        letter-spacing: 6px;
    }
    h2 {
        font-size: 25px !important;
    }
    h3 {
        font-size: 20px !important;
    }
    p {
        font-size: 17px !important;
    }
}

h1 {
    font-family: Lato, sans-serif;
}

#contact-text {
    margin-bottom: 0px;
}

@media only screen and (max-width: 480px) {
    #contact-text {
        margin-bottom: 15px;
    }
}

/* Containers */

.jumbotron {
    margin: 0 0 !important;
}

#face.jumbotron {
    background: url(../img/tlo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    text-align: center !important;
    justify-content: center;
    align-items: center;
}

#welcome.jumbotron {
    background-color: #a7dbdb !important;
    padding: 3% 0%;
    display: flex;
}

#skills.jumbotron {
    padding: 3% 0%;
    background-color: #ffffff !important;
}

.col-md-4 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.col-md-3, .col-md-6 {
    padding-top: 8%;
    padding-bottom: 8%;
}

.col-md-5, .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-lg-2, .col-lg-5 {
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact.jumbotron {
    padding: 3% 0%;
    background-color: #a7dbdb !important;
}

#projects.jumbotron {
    background-color: #f4f7f6 !important;
    padding: 3% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center !important;
}

.image-box {
    margin: 10px 30px;
}

.row.logos {
    margin-top: 35px;
}

@media only screen and (max-width: 1024px) {
    .row.logos {
        display: flex;
        flex-flow: row wrap;
        margin: 0 2%;
        justify-content: center;
    }
}

@media only screen and (max-width: 480px) {
    .row.logos {
        display: flex;
        flex-flow: column;
        margin: 0;
        justify-content: start;
    }
}

#text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

#text-center p {
    scroll-margin-bottom: 0px !important;
}

@media only screen and (max-width: 480px) {
    #text-center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #stroke {
        display: none;
    }
}

/* Images*/

#foto-ja {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#logo-linkedin {
    width: 120px;
    height: 30.6px;
}

@media only screen and (max-width: 1024px) {
    #logo-linkedin {
        width: 96px;
        height: 24.5px;
    }
}

@media only screen and (max-width: 480px) {
    #logo-linkedin {
        margin-bottom: 18px;
    }
}

.logo {
    transform: scale(0.8);
}

@media screen and (max-width: 768px) {
    .logo {
        transform: scale(0.7);
    }
}